FORMAT: 1A
HOST: https://api-preprod.invimmo.fr/api/v1/[ReferenceClient]

# API Invimmo

A remplir

## Gestion documents [/attachements/{type}/{reference}/{filename}]

+ Parameters
    + type: `DocumentConstat` (required, string) - Type de document (DocumentConstat ou DocumentEquipement).
    + reference: `EDLS` (required,string) - Code du parent du document (Code type tache ou code type equipement).
    + filename: `notice.pdf` (required,string) - Nom du fichier.

### Ajouter un document [POST]

Ajout d'un document dans Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

+ Response 201 (application/json)
    Dans le cas ou tout se passe bien.
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un locataire.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Suppriner un document [DELETE]

Suppression d'un document dans Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

+ Response 201 (application/json)
    Dans le cas ou tout se passe bien.
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un locataire.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Affectation Locataires au bail [/bail/{refBailInterneOuExterne}/locataires?TYPE_REFERENCE={type_reference}]

+ Parameters
    + refBailInterneOuExterne: `15689` (required, string) - Référence bail interne ou externe.
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.

### Ajouter une liste d affectation Locataires au bail [POST]

Insère une liste d'affectation locataires au bail dans la base de données d’Invimmo.

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[AffectationLocataire POST],fixed-type)

+ Response 201 (application/json)
    Dans le cas ou les insertions d'affectation locataire se passent bien.
    + Attributes (array[AffectationLocataire Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un locataire.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste d affectation Locataires au bail [PUT]

Modifie une liste d'affectation locataires au bail dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[AffectationLocataire PUT],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les modifications d'affectation locataire se passent bien.
    + Attributes (array[AffectationLocataire Invimmo PUT], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un locataire.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Désactiver une liste d affectation Locataires au bail [DELETE]

Désactive une liste d'affectation locataire au bail dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[AffectationLocataire DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les désactivations d'affectation locataire se passent bien.
    + Attributes (array[AffectationLocataire Invimmo DELETE], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un locataire.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Récupérer une liste d affectation Locataires au bail [GET]

Récupère une liste d'affectation locataire au bail dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[LocataireBail GET], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body


## Affectation Patrimoines à l'utilisateur [/utilisateurs/{refUtilisateurInterneOuExterne}/patrimoines?TYPE_REFERENCE={type_reference}]

+ Parameters
    + refUtilisateurInterneOuExterne: `16548` (required, number) - Référence interne ou externe utilisateur.
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    
### Ajouter une liste d Affectation [POST]

Insère une liste d’Affectation dans la base de données d’Invimmo.

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[AffectationUtilisateurs POST],fixed-type)

+ Response 201 (application/json)
    Dans le cas ou les insertions de liste d'Affectation Utilisateurs se passent bien.
    + Attributes (array[AffectationUtilisateurs Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer une affectation utilisateurs.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Supprimer une liste d Affectation [DELETE]

Supprime une liste d'Affectation dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[AffectationUtilisateurs DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les suppressions de liste d'Affectation Utilisateurs se passent bien.
    + Attributes (array[AffectationUtilisateurs Invimmo DELETE], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer une affectation utilisateurs.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Récupérer une liste d affectation [GET]

Récupère une liste d'affectation dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[Patrimoine Invimmo GET], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body


## Authentification [/auth]

### Récupérer un token d'authentification [POST]

S"authentifier à l'application

+ Request (application/json)

    + Attributes (Authentification POST,fixed-type)

+ Response 200 (application/json)
    Dans le cas ou l'authentification se passe bien.
    + Attributes (Authentification Invimmo POST)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Les informations fournies ne permettent pas la connexion à l'api.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body


## Barèmes [/baremes?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.


### Ajouter une liste de Barèmes [POST]

Insère une liste de Barèmes dans la base de données d’Invimmo.

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Baremes POST],fixed-type)


+ Response 201 (application/json)
    Dans le cas ou les insertions des barèmes se passent bien.
    + Attributes (array[Baremes Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un barème.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste de barèmes [PUT]

Modifie une liste de barèmes dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Baremes PUT],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les modifications de barèmes se passent bien.
    + Attributes (array[Baremes Invimmo PUT], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un barème.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Désactive une liste de barèmes [DELETE]

Désactive une liste de barèmes dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Baremes DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les désactivation de barèmes se passent bien.
    + Attributes (array[Baremes Invimmo DELETE], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un barème.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Barèmes [/baremes/{id}?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + id: `1` (required, string) - Référence interne ou externe.

### Récupérer un barème [GET]

Récupère un barème

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[Baremes Invimmo GET], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Baux [/baux?TYPE_REFERENCE={type_reference}&FORCE_MAJ={force_maj}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + force_maj: `OUI` (optional,string) - Dans le cas d'une modification force une mise à jour de tout les champs a la valeur renseignee. Par default NON.

### Ajouter une liste de Baux [POST]

Insère une liste des baux dans la base de données d’Invimmo.

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Baux POST],fixed-type)

+ Response 201 (application/json)
    Dans le cas ou les insertions de baux se passent bien.
    + Attributes (array[Baux Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un bail.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste de Baux [PUT]

Modifie une liste de baux dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Baux PUT],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les modifications de baux se passent bien.
    + Attributes (array[Baux Invimmo PUT], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un bail.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Désactiver une liste de Baux [DELETE]

Désactive une liste de baux dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Baux DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les désactivation de baux se passent bien.
    + Attributes (array[Baux Invimmo DELETE], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un bail.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Reactivation Baux [/baux-reactivation?TYPE_REFERENCE={type_reference}]
+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.

### Réactive une liste de baux [PUT]

Réactive une liste de baux dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Baux Reactivation],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les réactivations se passent bien.
    + Attributes (array[Baux Invimmo Reactivation], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Baux [/baux/{id}?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + id: `1` (required, string) - Référence interne ou externe.

### Récupérer un bail [GET]

Récupère un bail

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[Baux GET], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Baux [/baux/{id}/{document}?TYPE_REFERENCE={type_reference}&MATCH_PARTIEL={match_partiel}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + id: `1` (required, string) - Référence interne ou externe.
    + match_partiel: `NON` (optional, string) - Recherche le bail sur uniquement le début de la référence externe. Par defaut NON.
    + document: `dernierEdl` (required, string) - Nom du document (dernierEdl ou dernieresReparations).

### Récupérer le dernier document d'état des lieux d'un bail [GET]

Récupére le dernier document d'état des lieux d'un bail

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/octet-stream)
    Le document pdf
    + Body
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body
    
+ Response 404 (application/json)
    (Not found) Aucun document n'a été trouvé.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Document bail [/baux/{id}/PdfsASigner/{nomFichier}?TYPE_REFERENCE={TypeReference}]

Gestion documents du bail dont la référence a été passée en paramètre

+ Parameters
    + id: `1` (required, string) - Référence interne ou externe du bail auquel il faut ajouter le document à retourner.
    + nomFichier: `BAI_PAT545_BAIL854.pdf` (required, string) - Nom du fichier.
    + TypeReference: `INTERNE` (optional, string) - valeur possibles : INTERNE ou EXTERNE, EXTERNE par défaut si non spécifié.

### Ajouter un document à signer [POST]

Ajoute un document à signer avec un état des lieux pour un bail donné

+ Request (application/json)

    + Headers
    
            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

+ Response 200 (application/json)
    Dans le cas ou l'ajout d'un document se passe bien
    + Body
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un document.
    + Body
    
+ Response 404 (application/json)
    (Not found) L'identifiant du bail donné ne correspond à aucun bail dans Invimmo.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body
    
### Supprime un document à signer [DELETE]

Suppriime un document à signer avec un état des lieux pour un bail donné

+ Request (application/json)

    + Headers
    
            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

+ Response 200 (application/json)
    Dans le cas ou l'ajout d'un document se passe bien
    + Body
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un document.
    + Body
    
+ Response 404 (application/json)
    (Not found) L'identifiant du bail donné ne correspond à aucun bail dans Invimmo.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Excompteurs [/patrimoines/{RefPatrimoineInterneOuExterne}/Baux/{RefBailInterneOuExterne}/excompteurs/{id}?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + id: `1` (required, string) - Référence interne ou externe.

### Récupérer un Excompteur [GET]

Récupère un Excompteur

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[Excompteurs GET], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Excompteurs du bail [/patrimoines/{RefPatrimoineInterneOuExterne}/Baux/{RefBailInterneOuExterne}/excompteurs?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + RefPatrimoineInterneOuExterne: `001.001.001A` (string) - Référence interne ou externe du patrimoine. 
    + RefBailInterneOuExterne: `001.001.001A` (string) - Référence interne ou externe du bail. 
    

### Ajouter une liste de excompteurs du bail [POST]

Insère une liste de compteurs externes dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[ExcompteursBail POST],fixed-type)


+ Response 201 (application/json)
    Dans le cas ou les insertions de excompteurs se passent bien.
    + Attributes (array[Excompteurs Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un compteur.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste de excompteurs du bail [PUT]

Modifie une liste de compteurs externes dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[ExcompteursBail PUT],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les modifications de excompteurs se passent bien.
    + Attributes (array[Excompteurs Invimmo PUT], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un compteur.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Desactive une liste de excompteurs du bail [DELETE]

Desactive une liste de compteurs externes dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Excompteurs DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les suppressions de excompteurs se passent bien.
    + Attributes (array[Excompteurs Invimmo DELETE], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un compteur.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Ajout en masse de Excompteurs [/excompteurs?TYPE_REFERENCE={type_reference}&FORCE_PARAMETRAGE={force_parametrage}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + force_parametrage: `Oui` (optional,string) - Indique si la création de paramétrage doit se faire automatiquement
    

### Ajouter une liste de excompteurs [POST]

Insère une liste de compteurs externes dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Excompteurs POST],fixed-type)


+ Response 201 (application/json)
    Dans le cas ou les insertions de excompteurs se passent bien.
    + Attributes (array[Excompteurs Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un compteur.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste de excompteurs [PUT]

Modifie une liste de compteurs externes dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Excompteurs PUT],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les modifications de excompteurs se passent bien.
    + Attributes (array[Excompteurs Invimmo PUT], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un compteur.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Desactive une liste de excompteurs [DELETE]

Desactive une liste de compteurs externes dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Excompteurs DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les suppressions de excompteurs se passent bien.
    + Attributes (array[Excompteurs Invimmo DELETE], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un compteur.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body


## Etats des lieux [/edls/{date}/avecDocumentsSynchronises]

Liste d’états des lieux pour la date donnée

+ Parameters
    + date: `2017-05-26` (required, string) - date format YYYY-MM-DD.

### Récupère la liste des états des lieux [GET]

Récupération de la liste des identifiants des états des lieux de la date

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    Dans le cas ou la récupération des etats des lieux se passent bien.
    + Attributes
    
+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 404 (application/json)
    (Not Found) : Le point de terminaison n’existe pas.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body
   
 
## Etats des lieux [/edls/{dateDebut}/{dateFin}/avecDocumentsSynchronises]

Liste d’états des lieux pour la plages de dates donnée

+ Parameters
    + dateDebut: `2017-05-26` (required, string) - date Debut YYYY-MM-DD.
    + dateFin: `2017-05-27` (required, string) - date Fin format YYYY-MM-DD incluse.

### Récupère la liste des états des lieux [GET]

Récupération de la liste des identifiants des états des lieux dans une page de dates donnée

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    Dans le cas ou la récupération des etats des lieux se passent bien.
    + Attributes
    
+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 404 (application/json)
    (Not Found) : Le point de terminaison n’existe pas.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body
    

## Etats des lieux [/edls?TYPE_REFERENCE={TypeReference}&ID={Reference}]

Retourne l'Etat des lieux dont la référence a été passée en paramètre

+ Parameters
    + TypeReference: `INTERNE` (optional,string) - valeur possibles : INTERNE ou EXTERNE, EXTERNE par défaut si non spécifié.
    + Reference: `1` (required, string) - Référence interne ou externe de l'edl à retourner.

### Récupère l état des lieux avec son contenu [GET]

Récupération de l’intégralité d’un état des lieux avec son contenu.

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    Dans le cas ou la récupération des etats des lieux se passent bien.
    + Attributes (Edls GET)
    
+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un état des lieux.
    + Body

+ Response 404 (application/json)
    (Not Found) : Le point de terminaison n’existe pas.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Etats des lieux [/edls/{id}/{typeAttachement}/{nomFichier}]

Récupère un des documents signé lié à l'état des lieux dont la référence a été passée en paramètre

+ Parameters
    + id: `1` (required, string) - Référence interne de l'état des lieux duquel il faut récupérer le document.
    + typeAttachement: `EditionEDL` (required, string) - Type d'attachement à récupérer (se trouve entre le double "__" et l'extension du fichier EditionEDL ou EditionReparation.
    + nomFichier: `5_edl__EditionEDL.pdf` (required, string) - Nom du fichier se trouvant dans le contenu d'un état des lieux.

### Récupère le contenu d'un document d'état des lieux [GET]

Récupération d'un document signé d'un état des lieux

+ Request (application/json)

    + Headers
    
            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

+ Response 200 (application/octet-stream)
    Dans le cas ou la récupération d'un document se passe bien
    + Body
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un document.
    + Body
    
+ Response 404 (application/json)
    (Not found) L'identifiant de l'état des lieux donné ne correspond à aucun état des lieux dans Invimmo.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Récupération d'un document [/{token}/attachements/{typeAttachement}/{reference}/{nomFichier}]

Récupère un document, les informations se trouvent dans les objets "photos" dans le retour d'un état des lieux

+ Parameters
    + token: `1` (required, string) - Token d'authentification encodé en base64
    + typeAttachement: `Degradations` (required, string) - Type d'attachement à récupérer.
    + reference: `1` (required, string) - Référence du document.
    + nomFichier: `5_edl__EditionEDL.pdf` (required, string) - Nom du fichier.

### Récupère un document [GET]

Récupération d'un document

+ Request (application/json)

+ Response 200 (application/octet-stream)
    Dans le cas ou la récupération d'un document se passe bien
    + Body
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un document.
    + Body
    
+ Response 404 (application/json)
    (Not found) Le document n'existent pas
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Index [/baux/{RefBailInterneOuExterne}/index?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + RefBailInterneOuExterne: `80125` (required, string) - Référence interne ou externe du bail.

### Ajouter une liste d%27index [POST]

Modification des relevés d’index pour un bail, en complétant les données précisées ci-dessous.

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Index POST],fixed-type)


+ Response 201 (application/json)
    Dans le cas ou les insertions d’index se passent bien.
    + Attributes (array[Index POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un Index.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste d`index [PUT]

Modifie une liste d'Index dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Index PUT],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les modifications d'Index se passent bien.
    + Attributes (array[Index Invimmo PUT], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un Index.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Supprime une liste d'index [DELETE]

Supprime une liste d'Index dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Index DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les suppressions d'Index se passent bien.
    + Attributes (array[Index Invimmo DELETE], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un Index.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Ligne de Barèmes [/baremes/{RefBaremeInterneOuExterne}/LigneBaremes/{id}?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.

### Récupérer une Ligne de Barème [GET]

Récupère une Ligne de Barème

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[LigneBaremes GET], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Ligne de Barèmes [/baremes/{RefBaremeInterneOuExterne}/LigneBaremes?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + RefBaremeInterneOuExterne: `PLOMB1` (required, string) - Référence interne ou externe du barème.

### Ajouter une liste de ligne de Barèmes [POST]

Insère une liste de ligne de Barèmes dans la base de données d’Invimmo.

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[LigneBaremes POST],fixed-type)


+ Response 201 (application/json)
    Dans le cas ou les insertions des lignes de barèmes se passent bien.
    + Attributes (array[LigneBaremes Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer une ligne de Barèmes.
    + Body
    
+ Response 404 (application/json)
    (Not Found) : Le barème n’existe pas.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste de ligne de barèmes [PUT]

Modifie une liste de ligne de barèmes dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[LigneBaremes PUT],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les modifications de ligne de barèmes se passent bien.
    + Attributes (array[LigneBaremes Invimmo PUT], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer une ligne de Barèmes.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Désactive une liste de ligne de barèmes [DELETE]

Désactive une liste de ligne de barèmes dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[LigneBaremes DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les désactivation de ligne de barèmes se passent bien.
    + Attributes (array[LigneBaremes Invimmo DELETE], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer une ligne de Barèmes.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Récupérer les Lignes d'un Barème [GET]

Récupère les Lignes d'un Barème

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[LigneBaremes GET], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Locataires [/locataires/{id}?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + id: `1` (required, string) - Référence interne ou externe.

### Récupérer un Locataire [GET]

Récupère un Locataire

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[Locataire GET],fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Locataires [/locataires?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.

### Ajouter une liste de Locataires [POST]

Insère une liste de locataires dans la base de données d’Invimmo.

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Locataire POST],fixed-type)

+ Response 201 (application/json)
    Dans le cas ou les insertions de Locataires se passent bien.
    + Attributes (array[Locataire Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer une liste de Locataires.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste de Locataires [PUT]

Modifie une liste de locataires dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Locataire PUT],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les modifications de Locataires se passent bien.
    + Attributes (array[Locataire Invimmo PUT], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer une liste de Locataires.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Désactiver une liste de Locataires [DELETE]

Désactive une liste de locataire dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Locataire DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les désactivations de Locataires se passent bien.
    + Attributes (array[Locataire Invimmo DELETE], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer une liste de Locataires.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Reactivation Locataires [/locataires-reactivation?TYPE_REFERENCE={type_reference}]
+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.

### Réactive une liste de locataires [PUT]

Réactive une liste de locataires dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Locataire Reactivation],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les réactivations se passent bien.
    + Attributes (array[Locataire Invimmo Reactivation], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Remarques patrimoine [/patrimoines/{id}/remarques]

+ Parameters
    + id: `1` (required, string) - Référence externe du patrimoine.

### Modifier les remarques du patrimoine [PUT]

Modifie les remarques du patrimoine

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[RemarquePatrimoine],fixed-type)


+ Response 201 (application/json)
    Dans le cas ou les modifications des remarques se passent bien.
    + Attributes (array[RemarquePatrimoine], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Patrimoine [/patrimoines/{id}?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + id: `1` (required, string) - Référence interne ou externe.

### Récupérer un Patrimoine [GET]

Récupère un Patrimoine

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[Patrimoine GET],fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Patrimoine [/patrimoines?TYPE_REFERENCE={type_reference}&FORCE_PARAMETRAGE={force_parametrage}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + force_parametrage: `Oui` (optional,string) - Force la création du paramétrage si inexistant

### Ajouter une liste de patrimoine [POST]

Insère une liste de patrimoines dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Patrimoine POST],fixed-type)


+ Response 201 (application/json)
    Dans le cas ou les insertions de patrimoine se passent bien.
    + Attributes (array[Patrimoine Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste de patrimoine [PUT]

Modifie une liste de patrimoines dans la base de données d’Invimmo, si une structure existe déja celle-ci remplacera l'existante

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Patrimoine PUT],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les modifications de patrimoine se passent bien.
    + Attributes (array[Patrimoine Invimmo PUT], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Désactiver une liste de patrimoine [DELETE]

Désactive une liste de patrimoines dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Patrimoine DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les désactivations de patrimoine se passent bien.
    + Attributes (array[Patrimoine Invimmo DELETE], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Reactivation Patrimoine [/patrimoines-reactivation?TYPE_REFERENCE={type_reference}]
+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.

### Réactive une liste de patrimoine [PUT]

Réactive une liste de patrimoines dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Patrimoine Reactivation],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les réactivations se passent bien.
    + Attributes (array[Patrimoine Invimmo Reactivation], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Groupe Patrimoine [/groupeUgs/{id}?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + id: `1` (required, string) - Référence interne ou externe.

### Récupérer un Groupe Patrimoine [GET]

Récupère un Groupe Patrimoine

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[GroupePatrimoine GET],fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Groupe Patrimoine [/groupeUgs?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.

### Ajouter une liste de groupes patrimoine [POST]

Insère une liste de groupes patrimoines dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[GroupePatrimoine POST],fixed-type)


+ Response 201 (application/json)
    Dans le cas ou les insertions de groupe patrimoine se passent bien.
    + Attributes (array[GroupePatrimoine Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un groupe patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste de groupes patrimoine [PUT]

Modifie une liste de groupes patrimoines dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[GroupePatrimoine PUT],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les modifications de groupe patrimoine se passent bien.
    + Attributes (array[GroupePatrimoine Invimmo PUT], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un groupe patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Désactiver une liste de groupes patrimoine [DELETE]

Désactive une liste de groupes patrimoines dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[GroupePatrimoine DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les désactivations de groupe patrimoine se passent bien.
    + Attributes (array[GroupePatrimoine Invimmo DELETE], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un groupe patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Reactivation groupes patrimoines [/groupeUgs-reactivation?TYPE_REFERENCE={type_reference}]
+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.

### Réactiver une liste de groupes patrimoine [DELETE]

Réactive une liste de groupes patrimoines dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[GroupePatrimoine Reactivation],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les réactivations de groupe patrimoine se passent bien.
    + Attributes (array[GroupePatrimoine Invimmo Reactivation], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un groupe patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Liste des Planifications [/planifications-liste]

### Récupérer une liste de Planifications filtrée [POST]

Récupére une liste de Planifications filtrée

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)
    
    + Attributes (array[PlanificationFiltreeParam],fixed-type)

+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[PlanificationFiltree],fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Planifications [/planifications/{id}]

+ Parameters
    + id: `1` (required, string) - Référence externe.

### Récupérer une Planification [GET]

Récupère une Planification

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[Planification GET],fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Planifications [/planifications?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.

### Ajouter une liste de planifications [POST]

Insère une liste de Planifications dans la base de données d’Invimmo.

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Planification POST],fixed-type)


+ Response 201 (application/json)
    Dans le cas ou les insertions des Planifications se passent bien.
    + Attributes (array[Planification Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer une planification.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste de planifications [PUT]

Modifie une liste de Planifications dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Planification PUT],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les modifications de Planifications se passent bien.
    + Attributes (array[Planification Invimmo PUT], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer une planification.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body


### Supprimer une liste de planifications [DELETE]

Supprime une liste de Planifications dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Planification DELETE],fixed-type)

+ Response 200 (application/json)
    Dans le cas ou les suppressions de Planifications se passent bien.
    + Body
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit de supprimer une planification.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Propriétaires [/proprietaires/{id}?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.
    + id: `1` (required, string) - Référence interne ou externe.

### Récupérer un Propriétaire [GET]

Récupère un Propriétaire

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)


+ Response 200 (application/json)
    La récupération s'est bien passée
    + Attributes (array[Proprietaires GET],fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

## Propriétaires [/proprietaires?TYPE_REFERENCE={type_reference}]

+ Parameters
    + type_reference: `interne` (optional,string) - Type de référence (externe ou interne). Par default externe.

### Ajouter une liste de Propriétaires [POST]

Insère une liste de propriétaires dans la base de données d’Invimmo.

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Proprietaires POST],fixed-type)

+ Response 201 (application/json)
    Dans le cas ou les insertions de Proprietaires se passent bien.
    + Attributes (array[Proprietaires Invimmo POST], fixed-type)
    
+ Response 400 (application/json)
    (Bad Request) Tous les cas où un paramètre n'est pas valide, ou un paramètre requis est manquant. Ceci inclut le cas où un ID de ressource est spécifiée de manière incorrecte dans un chemin.
    + Body

+ Response 401 (application/json)
    (Unauthorized) Aucun jeton OAuth n’est fourni. Ou bien le token a expiré.
    + Body

+ Response 403 (application/json)
    (Forbidden) Les informations ne peuvent pas être inséré par l'utilisateur agissant, parce qu’il n’a pas le droit d’insérer un patrimoine.
    + Body

+ Response 409 (application/json)
    (Conflict) La demande n'a pas pu être terminée.
    + Body

+ Response 500 (application/json)
    (Internal server error) Le serveur HTTP a rencontré une condition inattendue qui l'a empêché de traiter la requête. Cette erreur peut par exemple être le résultat d'une mauvaise configuration du serveur, ou d'une ressource épuisée ou refusée au serveur sur la machine hôte.
    + Body

### Modifier une liste de Propriétaires [PUT]

Modifie une liste de Propriétaires dans la base de données d’Invimmo

+ Request (application/json)

    + Headers

            Authorization: Token d'authentification (exemple `0a86a11f-d06e-46b7-a133-5240cb27d1e5`)

    + Attributes (array[Proprietaires PUT],fixed-type)
[...]
